### NATS Options ###
NATS_URL=nats://localhost:4222 # NATS server URL (default: nats://localhost:4222)
NATS_USERNAME= # NATS username (optional)
NATS_PASSWORD= # NATS password (optional)
NATS_TLS_ENABLED=false # Enable TLS for NATS connection (default: false)

### HadesAPI Options ###
API_PORT=8080 # Port for the API to listen on (default: 8080)
AUTH_KEY="" # Key used for Basic Auth with the API (default: "" for no auth)
PROMETHEUS_ADDRESS="" # Address for Prometheus metrics to be exposed (default: "" for no metrics)
RETENTION_IN_MIN=30 # Time in minutes to keep completed jobs for monitoring (default: 30)
MAX_RETRIES=3 # Number of times to retry a job before marking it as failed (default: 3)
TIMEOUT_IN_MIN=0 # How long a task can run before being killed (default: 0 for no limit)

### HadesScheduler Options ###
CONCURRENCY=1 # Number of jobs to run concurrently (default: 1)

### HadesOperator Options ###
WATCH_NAMESPACE="hades"

### DockerScheduler Options ###
DOCKER_HOST="unix:///var/run/docker.sock" # Docker host to connect to (default: unix:///var/run/docker.sock)
DOCKER_SCRIPT_EXECUTOR="/bin/bash -c" # Path to the script executor to use (default: /bin/sh)
DOCKER_CPU_LIMIT=2 # Number of CPUs to limit the container to (see Docker documentation for more info)
DOCKER_MEMORY_LIMIT=2g # Memory limit for the container (see Docker documentation for more info)
DOCKER_CONTAINER_AUTOREMOVE=false # Disable auto-removal to retain container logs post-execution (default: false)

### Traefik Deployment configuration ###
LETSENCRYPT_EMAIL=you@example.com
HADES_API_HOST=hades.example.com
