# docker compose file for the project with three services

version: '3.7'
services:
  hadesAPI:
    image: ghcr.io/ls1intum/hades/hades-api
    build:
      context: .
      dockerfile: ./HadesAPI/Dockerfile
    ports:
      # Set the Port to 8081 to avoid conflicts with the artemis server
      - "8081:8080"
    networks:
      - hades
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - REDIS_ADDR=redis:6379
      - REDIS_PWD

  hadesScheduler:
    image: ghcr.io/ls1intum/hades/hades-scheduler
    build:
      context: .
      dockerfile: ./HadesScheduler/Dockerfile
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    networks:
      - hades
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - REDIS_ADDR=redis:6379
      - REDIS_PWD
      - HADES_EXECUTOR=docker

  redis:
    image: redis:7.2
    ports:
      - "6379:6379"
    networks:
      - hades
    environment:
      - REDIS_PWD
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
  
  fluentbit:
    container_name: fluentbit
    image: fluent/fluent-bit
    ports:
      - "24224:24224"
    command: /fluent-bit/bin/fluent-bit -i forward -o stdout -p format=json_lines -f 1

networks:
  hades:
