# docker compose file for the project with three services

version: '3.7'
services:
  hadesAPI:
    ports:
      - "8081:8081"
    environment:
      - NATS_URL=nats://nats:4222
      - DEBUG=true
  hadesScheduler:
    environment:
      - NATS_URL=nats://nats:4222
      - HADES_EXECUTOR=docker
      - DOCKER_CONTAINER_AUTOREMOVE=false
      - DEBUG=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  hadesLogManager:
    ports:
      - "8083:8081"  # Expose for local access
    environment:
      - DEBUG=true
      - HADESLOGMANAGER_API_PORT=8081
      - API_ENDPOINT=http://hadesArtemisAdapter:8082/adapter/logs
  
  hadesArtemisAdapter:
    ports:
      - "8082:8082"  # Expose for local access
    environment:
      - DEBUG=true
      - HADESADAPTER_API_PORT=8082
      # Override these in your .env file for local dev
      - ARTEMIS_BASE_URL=${ARTEMIS_BASE_URL}