---
version: '3.7'
services:
  hadesAPI:
    image: ghcr.io/mtze/hades/hades-api:{{ hades_api_version }}
    ports:
      - "{{hades_api_port}}:8080"
    networks:
      - hades
    depends_on:
      nats:
        condition: service_healthy
    environment:
      - NATS_URL={{ hades_nats_url }}
      - NATS_USERNAME={{ hades_nats_username }}
      - NATS_PASSWORD={{ hades_nats_password }}
      - NATS_TLS_ENABLED={{ hades_nats_tls_enabled }}
      - HADES_DEBUG={{ hades_api_debug }}
      - AUTH_KEY


  nats:
    image: nats:latest
    command: ["-js", "-m", "8222"]
    ports:
      - "4222:4222"
      - "8222:8222"
    networks:
      - hades
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8222/healthz"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

networks:
  hades: