---
version: '3.7'
services:
  hadesScheduler:
    image: ghcr.io/mtze/hades/hades-scheduler:{{ hades_scheduler_version }}
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    restart: unless-stopped
    networks:
      - hades
    environment:
      - NATS_URL={{ hades_nats_url }}
      - NATS_USERNAME={{ hades_nats_username }}
      - NATS_PASSWORD={{ hades_nats_password }}
      - NATS_TLS_ENABLED={{ hades_nats_tls_enabled }}
      - HADES_EXECUTOR={{ hades_executor }}
      - CONCURRENCY={{ hades_scheduler_concurrency }}
      - HADES_DEBUG={{ hades_scheduler_debug }}
networks:
  hades: