---
version: '3.7'
services:
  hadesScheduler:
    image: ghcr.io/mtze/hades/hades-scheduler:{{ hades_scheduler_version }}
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    restart: unless-stopped
    networks:
      - hades
    environment:
      - REDIS_ADDR={{ hades_redis_host }}:{{ hades_redis_port }}
      - REDIS_PASSWORD
      - HADES_EXECUTOR={{ hades_executor }}
      - CONCURRENCY={{ hades_scheduler_concurrency }}
      - HADES_DEBUG={{ hades_scheduler_debug }}
networks:
  hades: